.content {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.right-section {
  width: 100%;
}

.maincontent {
  display: flex;
  margin: 16px;
}

.leftsectionmain {
  width: 100%;
}

.redbubble {
  position: absolute;
  width: 274px;
  height: 274px;
  left: 976px;
  top: -90px;

  background: #f74440;
  opacity: 0.1;
  filter: blur(50px);
  z-index: 0;
}

.greenbubble {
  position: absolute;
  width: 274px;
  height: 274px;
  left: -33px;
  top: 181px;

  background: #20cd7e;
  opacity: 0.1;
  filter: blur(50px);
}

.asset {
  z-index: 1;
}
